* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */
body{
    background-color: lightgrey;
}

.row, .col-9, .col-3{
    height: 500px;
}

.col-12{
    height: calc(100% / 5);
}
/* TEST */

.fa-circle-chevron-up{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.fa-circle-chevron-down{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.mySlide{
    position: relative;
    display: none;
}

.mySlide.active{
    display: block;
}

.mySlide .slide-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.myThumbnail:not(.active){
    opacity: 0.6;
}

.myThumbnail.active{
    border: 3px white solid;
}
