* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */
body{
    background-color: rgb(4, 51, 78);
}

.row, .col-9, .col-3{
    height: 500px;
}

.row{
    border: 1px solid white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.col-12{
    height: calc(100% / 5);
}
/* TEST */


.mySlide{
    position: relative;
    display: none;
}

.mySlide.active{
    display: block;
}

.mySlide .slide-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.myThumbnail:not(.active){
    opacity: 0.6;
}

.myThumbnail.active{
    border: 3px white solid;
}

.fa-circle-chevron-up{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

.fa-circle-chevron-down{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}